<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="LCHARMS" type="LCHARMS.Config.LCHARMSConfig, LCHARMS"/>
    </configSections>
  <LCHARMS DBServer="http://192.168.1.11:5984" LRI="localhost:31939/LIdentityProvider.svc"></LCHARMS>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>